<%- include('layout/header') %>
<div class="container">
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <h2>Add User</h2>
            <% if (errors) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><%= errors.email ? errors.email.msg : '' %></strong>
                </div>
            <% } %>
            <form action="/add" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="course" class="form-label">course</label>
                    <select class="form-control" id="course" name="course" required>
                        <option value="">SelectCourse</option>
                        <option value="MCA">MCA</option>
                        <option value="BCA">BCA</option>
                        <option value="MCA">Btech</option>
                        <option value="BCA">Mtech</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="desgination" class="form-label">Designation</label>
                    <input type="text" class="form-control" id="desgination" name="desgination" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" id="image" name="image"  accept=".png, .jpg, .jpeg" required>
                </div>
                <button type="submit" class="btn btn-primary">Add User</button>
            </form>
        </div>
    </div>
</div>
<%- include('layout/footer') %>
